/*ESTILOS FORMULARIOS*/
.estilo-boton {
  margin-top: 30px;
  width: 300px;
}

.btn{
    background-color: #F7C74A ;
}

.btn:hover {
    background-color: #FBBE28;
}

.btn:active{
    background-color: #F7C74A;
    border-color: #F7C74A;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem rgb(247 199 74 / 45%)
}

.form-control {
  width: 300px;
  margin-bottom: 15px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #f7c74a  ;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(247 199 74 / 45%)
}

.box {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 300px;
  width: 300px;
}
